@import 'scss/global.scss';

.account-layout__input {
    &--vertical {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        > * {
            width: 48%;
        }
        a {
            text-align: end;
        }
    }
}
