@import 'scss/global';
.container-mdetail {
    background-color: $color--light;
    padding: 30px;
}

.mdetails-view-container {
    width: 83.33%;
    padding: 35px;
    margin: 30px auto;
    border: $color-detail-border solid 1px;
    border-radius: 6px;
    background-color: $color-detail-bg;
    .header {
        display: flex;
        margin-bottom: 20px;
        align-items: flex-end;

        .left-section {
            display: flex;
            align-items: center;
            background-color: $color--light;
            border: $color-detail-border solid 1px;
            width: 27%;
            height: 110px;
            border-radius: 6px;
            .post-info {
                display: flex;
                flex-direction: column;
                margin-left: 30px;
                font-size: 14px;
                height: 110px;
                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    margin-top: 10px;
                    margin-bottom: 15px;
                }
                .title {
                    margin: 0;
                    font-weight: bold;
                    margin-left: 20px;
                }
                .content {
                    margin-left: 20px;
                    .type {
                        color: $color-accname;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .post-meta {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    margin-left: 20px;
                }
            }
        }

        .right-section {
            display: flex;
            justify-items: center;
            background-color: $color--light;
            border: $color-detail-border solid 1px;
            width: 20%;
            height: 110px;
            border-radius: 6px;
            margin-left: auto;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        font-size: 14px;
        h2 {
            font-size: 24px;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .social-stats {
            display: flex;
            align-items: center;
            height: 70%;
            .FB-stat {
                display: flex;
                align-items: center;
                margin-left: 15%;
                .platform {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                    color: $color-detail-item;
                    margin-left: 20%;
                    span {
                        line-height: 25px;
                        margin-left: 5px;
                    }
                }
                .platform-F {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                margin-bottom: 10px;
            }
        }
    }

    .post-content {
        background-color: $color--light;

        border-radius: 8px;
        height: auto;
        border: $color-detail-border solid 1px;
        h2 {
            font-size: 24px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 5px;
            margin-left: 20px;
        }
        div {
            margin: 2%;
            margin-left: 4%;
        }
        .imgs {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            img {
                margin: 20px;
                width: 250px;
                height: 200px;
                padding: 5px;
                background-color: $color-detail-bg;
                object-fit: contain;
                border-radius: 6px;
                border: $color-detail-border solid 1px;
            }
        }
    }
}
