@import 'scss/global.scss';

*[class^='ant'] {
    font-family: $font-inter;
}

.container {
    max-width: 448px;
    margin: 72px auto;
}

.user-settings-form {
    &__title {
        @include font-24;
        @include fontSemibold;
        display: inline-block;
        &:has(+ .ant-space) {
            margin-bottom: 16px;
        }
    }
    &__label {
        &--padding-bottom-0 .ant-form-item-label {
            padding-bottom: 0;
            label {
                color: $color--text-disabled;
            }
        }
    }
    &__btn {
        &--blue {
            color: $color-button-link;
            &:not(:disabled):hover,
            &:not(:disabled):active {
                color: $color-button-link-hover;
            }
        }
        &--border {
            border-color: $color-button-link;
            &:not(:disabled):hover,
            &:not(:disabled):active {
                border-color: $color-button-link-hover;
            }
        }
        &--padding-x-0 {
            padding-left: 0;
            padding-right: 0;
        }
    }
    /* Avatar */
    &__avatar {
        &--round {
            border-radius: 50%;
            + .ant-image-mask {
                border-radius: 50%;
            }
        }
        &--fit {
            object-fit: none;
        }
    }
    /* CheckIcon container */
    &__list {
        &--icon-group {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
    /* Override ant design  */
    .ant-list-split .ant-list-item:not(:last-child) {
        border-block-end: 1px solid $color--line;
    }
    .ant-form-item-control-input-content {
        @include font-16;
        @include fontSemibold;
    }
    .ant-form-item:not(:first-child) {
        margin-bottom: 12px;
    }
}
