@import 'scss/global';
.container-detail {
    background-color: $color--light;
}

.details-view-container {
    width: 83.33%;
    margin: 30px auto;
    padding: 35px;
    background-color: $color-detail-bg;
    border-radius: 6px;
    border: $color-detail-border solid 1px;
    .header {
        display: flex;
        margin-bottom: 20px;

        .left-section {
            display: flex;
            align-items: center;
            background-color: $color--light;
            border: $color-detail-border solid 1px;
            width: 32%;

            border-radius: 6px;
            .post-info {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0 5%;
                font-size: 14px;
                h2 {
                    font-size: 24px;
                    font-weight: 600;
                }
                .title {
                    margin: 0;
                    font-weight: bold;
                }
                .content {
                    margin-left: 100px;
                    .type {
                        color: $color-accname;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .post-meta {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    margin: 0 5% 5% 10%;
                }
            }
        }

        .right-section {
            display: flex;
            align-items: end;
            flex-direction: row;
            height: inherit;
            .edit-button {
                padding: 10px 20px;
                border: $color-detail-border solid 1px;
                font-size: 16px;
                height: 42px;
                color: $color-accname;
                background-color: $color--light;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                margin-left: auto;
                p {
                    margin-left: 10px;
                }
                &:hover {
                    background-color: $color-accname;
                    color: $color--light;
                }
            }
            .del-button {
                padding: 10px 20px;
                font-size: 16px;
                height: 42px;
                color: $color-hlogout;
                background-color: $color--light;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                margin-left: 10px;
                p {
                    margin-left: 10px;
                }
                &:hover {
                    background-color: $color-hlogout;
                    color: $color--light;
                }
            }
            margin-left: auto;
        }
    }

    .post-content {
        background-color: $color--light;

        border-radius: 8px;
        height: auto;
        border: $color-detail-border solid 1px;
        h2 {
            font-size: 24px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 5px;
            margin-left: 20px;
        }
        div {
            margin: 2%;
            margin-left: 4%;
        }
        .imgs {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            img {
                margin: 20px;
                width: 250px;
                height: 200px;
                padding: 5px;
                background-color: $color-detail-bg;
                object-fit: contain;
                border-radius: 6px;
                border: $color-detail-border solid 1px;
            }
        }
    }
}
