@import 'scss/global';
.container-detail {
    background-color: $color-detail-bg;
    max-height: auto;
}

.details-view-container {
    width: 83.33%;
    margin: 0 auto;
    padding: 35px;
    padding-top: 65px;
    background-color: $color-detail-bg;
    .upper {
        display: flex;
        align-items: center;
        flex-direction: row;

        .edit-button {
            padding: 10px 20px;
            font-size: 16px;
            height: 42px;
            color: $color-accname;
            background-color: $color--light;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            margin-left: auto;
            p {
                margin-left: 10px;
            }
        }
        .del-button {
            padding: 10px 20px;
            font-size: 16px;
            height: 42px;
            color: $color-hlogout;
            background-color: $color--light;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            margin-left: 10px;
            p {
                margin-left: 10px;
            }
        }
    }
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .left-section {
            display: flex;
            align-items: center;
            background-color: $color--light;
            width: 500px;
            height: 152px;
            border-radius: 6px;
            .post-info {
                display: flex;
                flex-direction: column;
                height: 170px;
                margin-left: 30px;
                font-size: 14px;
                h2 {
                    font-size: 24px;
                    font-weight: 600;
                }
                .title {
                    margin: 0;
                    font-weight: bold;
                    margin-left: 40px;
                }
                .content {
                    margin-left: 100px;
                    .type {
                        color: $color-accname;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .post-meta {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    margin-left: 20px;
                }
            }
        }

        .right-section {
            display: flex;
            align-items: center;
            background-color: $color--light;
            width: 500px;
            height: 152px;
            border-radius: 6px;
            margin-left: auto;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        height: 170px;
        margin-left: 30px;
        font-size: 14px;
        h2 {
            font-size: 24px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        .social-stats {
            .FB-stat {
                display: flex;
                align-items: center;
                margin-left: 60px;
                .platform {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                    color: $color-detail-item;
                    margin-left: 20px;
                    span {
                        line-height: 25px;
                        margin-left: 5px;
                    }
                }
                .platform-F {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                margin-bottom: 10px;
            }
            .Zalo-stat {
                display: flex;
                align-items: center;
                margin-left: 60px;
                .platform {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;
                    color: $color-detail-item;
                    margin-left: 20px;
                    span {
                        line-height: 25px;
                        margin-left: 5px;
                    }
                }
                .platform-Z {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    .post-content {
        background-color: $color--light;
        line-height: 1.6;
        border-radius: 8px;
        height: 500px;
        border: $color-detail-border solid 1px;
        h2 {
            font-size: 24px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 5px;
            margin-left: 20px;
        }
        div {
            margin: 20px;
            margin-left: 40px;
        }
        .imgs {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img {
                margin: 20px;
            }
        }
    }
}
