@import 'scss/global';

.forgot {
    display: flex;
    &__left,
    &__right {
        width: 50%;
    }
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        &--logo {
            margin: 40px 0 30px 40px;
        }
        &--title {
            padding: 0px 40px;
            font-size: 36px;
            margin-block: 0;
        }
        &--form {
            margin: 40px;
            width: 60%;
            &-input {
                padding: 10px 20px;
            }
            &-button {
                width: 100% !important;
            }
        }
    }
    &__right {
        height: 100vh;
        max-width: 100%;
        background: url('../../assets/images/AccountLayoutImage.png') center
            no-repeat;
        background-size: cover;
        margin-right: 0 !important;
    }
}
