@import 'scss/global';

.wrapper {
    width: 1280px;
    height: 600px;
    border-radius: 20px;
    margin: 60px auto 0;
    background-color: $color-gray;
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 57px;
        width: 240px;
        padding: 20px 35px;
        &--main {
            text-transform: uppercase;
            margin-block: 0;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
        }
        &--sub {
            margin-block: 0;
            font-weight: 300;
            color: #bbabab;
        }
    }
    &__social {
        &--title {
            margin-right: 30px;
        }
    }
}
