@import 'scss/global';

.wrapper {
    width: 1280px;
    height: 600px;
    border-radius: 20px;
    margin: 60px auto 0;
    background-color: $color-gray;
    &__title {
        display: flex;
        al
    }
}