@import 'scss/global';
.header {
    &__wrap {
        display: flex;
        align-items: center;
        padding: 16px 48px;
        border-bottom: 1px solid $color-hborder;
        background-color: $color--light;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        &--logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &--search {
            position: relative;
            display: inline-block;
            margin-left: 30px;
            box-sizing: border-box;
            input {
                width: 240px;
                padding: 10px 10px 10px 40px;
                font-family: $font-inter;
                background-color: $color-hsbg;
                color: $color-hstext;
                font-size: 16px;
                border-radius: 16px;
                border: 1px solid transparent;
                outline: 0;
                transition: all 0.25s linear;
                &::placeholder {
                    color: $color-hstext;
                    font-family: $font-inter;
                }
                &:focus {
                    background-color: $color--light;
                    border: 1px solid $color-hstext;
                }
            }
        }
        &--icon {
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
        }
        &--items {
            list-style: none;
            display: flex;
            align-items: center;
            margin: auto;
            margin-left: 10%;
            width: fit-content;
            padding: 0;
        }
        &--item {
            padding: 0 16px;
        }
        &--link {
            text-decoration: none;
            font-weight: 600;
            color: $color-hstext;
            padding: 10px 15px;
            border-radius: 12px;
            transition: all 0.2s linear;
            &:hover {
                color: $color-htext-hover;
                background-color: $color-hborder;
            }
            &.active {
                color: $color-htext-hover;
                background-color: $color-hborder;
            }
        }
        &--button {
            display: flex;
            flex-direction: row;
            align-items: center;
            Button {
                font-size: 16px;
                font-weight: 500;
                margin-right: 20px;
            }
            .user-dropdown {
                position: relative;
                z-index: 1;
                transition: opacity 0.3s ease, visibility 0s linear 0.3s;

                .dropdown {
                    margin-left: 20px;
                    cursor: pointer;
                }

                .dropdown-menu {
                    display: none;
                    position: absolute;
                    background-color: $color--light;
                    border: $color-hborder solid 1px;
                    border-radius: 4px;
                    padding: 0;
                    list-style: none;
                    z-index: 2;
                    li {
                        padding: 0;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .dropdown::after {
                    content: '\25BC';
                }
                &.open .dropdown-menu {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    right: 0;
                    left: auto;
                    .Drop-item {
                        text-decoration: none;
                    }
                    li {
                        width: 150px;
                        padding: 5px;
                        p {
                            &#logout {
                                color: $color-hlogout;
                            }
                            color: $color-hdrop;
                        }
                        &:hover {
                            p {
                                color: $color--light;
                                &#logout {
                                    cursor: pointer;
                                    color: $color--light;
                                }
                            }
                            background-color: $color-hdrop;
                            &:last-child {
                                background-color: $color-hlogout;
                            }
                        }
                    }
                }
            }
            .user-dropdown.open .dropdown::after {
                content: '\25B2';
            }
            .acc {
                text-decoration: none;
                color: $color-accname;
                :visited {
                    color: $color-accname;
                }
                :hover {
                    color: $color-hov-acc;
                }
            }
        }
    }
}
