@import 'scss/global.scss';
$wwhite: #ffffff;
$bblack: #000000;
$bluehover: #1453dc;
.header {
    background-color: $wwhite;
    padding: 10px;
    height: 60px;
    max-width: 1920px;
    font-family: 'Inter', sans-serif;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-left {
            display: flex;
            align-items: center;
            width: 485px;
            .logo {
                color: $bblack;
                margin-right: 20px;
                font-size: 24px;
            }

            .searchbar {
                input {
                    height: 48px;
                    width: 320px;
                    font-size: 16px;
                    padding-left: 10px;
                    border-radius: 24px;
                    border: none;
                    background-color: #11111114;
                }
            }
        }

        .header-center {
            flex: 1;

            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            width: 130px;
            height: 48px;
            border: 24px;
            a {
                color: #686868;
                text-align: center;
                text-decoration: none;
                margin: 0 20px;
                width: 130px;
                height: 48px;
                line-height: 48px;
                border-radius: 24px;
                &:hover {
                    color: #0042ed;
                    background-color: #dde7fd;
                }
            }
        }

        .header-right {
            width: 485px;
            display: flex;
            align-items: center;

            .create-post-button {
                padding: 8px 16px;
                border: none;
                border-radius: 24px;
                width: 130px;
                height: 48px;
                font-size: 16px;
                font-weight: 400;
                background-color: #155df5;
                color: $wwhite;
                margin-left: auto;
                cursor: pointer;
            }
            .login {
                padding: 8px 16px;
                border: none;
                border-radius: 24px;
                width: 130px;
                height: 48px;
                font-size: 16px;
                font-weight: 400;
                background-color: #155df5;
                color: $wwhite;
                margin-left: auto;
                cursor: pointer;
            }
            span {
                color: #686868;
                margin: 0 20px;
            }
            span a {
                color: #6293fe;
                font-weight: 500;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            .create-post-button:hover {
                background-color: $bluehover;
            }
            .login:hover {
                background-color: $bluehover;
            }
        }
    }
}
