@import 'scss/global';

.wrap {
    &__header{
        background-color: #f5f5f5;
        &--menu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 100;
        }
    }
}